.header {
    &__container {   
        @extend .container;
        margin-bottom: 70px;
    }
    
    &__wrapper {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        padding: 17px 0px; 
    }

    .nav {
        &__list {
            @include flex-row;
        }

        &__link {
            @include montserrat(400);
            @include font-sizes(16px, 28px);
        }

        &__el + .nav__el {
            margin-left: 20px;
        }
    }

    &__autorize {
        @include flex-row;
    }

    &__signin {
        @extend .authorize;
        background-color: white;
        border-color: $ligthBlue;
        color: $textBlack;
    }

    &__signup {
        @extend .authorize;
        margin-left: 32px;
    }
}

.main {
    .intro {
        margin-bottom: 100px;
        &__container {
            @extend .container;
        }
        
        &__wrapper {
            @include flex-row;
            justify-content: space-between;
            align-items: center;
        }

        &__left {
            max-width: 500px;
        }

        &__title {
            @include montserrat(700);
            @include font-sizes(44px, 54px);
            color: $textBlack;
        }

        &__descr {
            @include montserrat(400);
            @include font-sizes(18px, 28px);
            margin-top: 30px;
            margin-bottom: 33px;
            color: $textMiddleBlack;
        }

        &__btn {
            @extend .button;
            padding: 13px 43.5px;
        }

        
    }

    .tools {
        margin-bottom: 100px;
        background-image: url(https://maxbusters.github.io/homework/10/assets/images/bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: white;
        background-size: contain;
        &__container {
            @extend .container;
        }
        
        &__wrapper {
            @include flex-col;
        }

        &__title{
            @include montserrat(700);
            @include font-sizes(36px, 44px);
            max-width: 539px;
            text-align: center;
            color: $textBlack;
        }

        &__list {
            @include flex-row;
            justify-content: space-between;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 70px;
        }

        &__el {
            max-width: 270px;
        }

        .el {
            &__head {
                @include montserrat(600);
                @include font-sizes(22px, 27px);
                margin-top: 30px;
                margin-bottom: 16px;
                color: $textBlack;
            }

            &__descr {
                @extend .text;
            }
        }

        &__btn {
            @extend .button;
            padding: 13px 39.5px;
            margin-bottom: 74px;
        }
    }

    .prof {
        margin-bottom: 100px;
        &__container {
            @extend .container;
        }
        
        &__wrapper {
            @include flex-row;
            justify-content: space-between;
        }

        &__left {
            max-width: 525px;
            margin-top: 20.5px;
        }

        &__subtitle {
            @extend .text;
        }

        &__title {
            @extend .title;
        }

        &__desc {
            @extend .text;
        }

        &__list {
            margin-top: 40px;
            margin-bottom: 20.5px;
        }

        .el {
            margin-bottom: 30px;
            &__title {
                @include montserrat(700);
                @include font-sizes(16px, 26px);
                color: $textBlack;
            }

            &__desc {
                margin-top: 10px;
                @extend .text;
            }
        }

        .el:last-child {
           margin-bottom: 0;
        }

        
    }

    .managers {
        margin-bottom: 100px;
        &__container {
            @extend .container;
        }
        
        &__wrapper {
            @include flex-row;
            justify-content: space-between;
        }
        
        &__main {
            max-width: 440px;
        }

        &__right {
            max-width: 505px;
        }
        
        &__subtitle {
            @extend .text;
        }

        &__title {
            @extend .title;
            margin-bottom: 20px;
        }

        &__desc {
            @extend .text;
        }

        &__list {
            margin-top: 40px;
            margin-bottom: 48px;
        }

        .list {
            &__el {
                @extend .text;
                @include flex-row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 30px;
            }

            &__text {
                width: 440px;
                padding-left: 30px;
            }

            .list__el:last-child {
                margin-bottom: 0;
            }
        }
    }

    .marketers {
        margin-bottom: 100px;
        &__container {
            @extend .container;
        }
        
        &__wrapper {
            @include flex-row;
            justify-content: space-between;
            align-items: center;
        }

        &__left {
            max-width: 486px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        &__subtitle {
            @extend .text;
        }

        &__title {
            @extend .title;
        }

        &__desc {
            @extend .text;
        }

        &__list {
            margin-top: 40px;
            margin-bottom: 20.5px;
        }

        .el {
            margin-bottom: 30px;
            &__title {
                @include montserrat(700);
                @include font-sizes(16px, 26px);
                color: $textBlack;
            }

            &__desc {
                margin-top: 10px;
                @extend .text;
            }
        }

        .el:last-child {
           margin-bottom: 0;
        }
    }
}

.footer {
    border-top: 1px solid $ligthBlue;
    padding: 70px 0;
    &__container {
        @extend .container;
    }
    
    &__wrapper {
        @include flex-row;
        justify-content: space-between;
    }

    &__nav{
        @include flex-col;
    }

    .nav {
        &__title {
            @include gotham(700);
            @include font-sizes(20px, 30px);
            color: $textBlack;
        }

        &__list {
            @include flex-col;
            margin-top: 30px;
        }

        &__el {
            @extend .text;
            @extend a;
            align-self: flex-start;
        }


        &__el + .nav__el {
            margin-top: 15px;
        }
    }

    &__form {
        @include flex-col;
        justify-content: left;
        align-items: flex-start;
    }

    .form {
        max-width: 340px;
        &__title {
            @include gotham(700);
            @include font-sizes(20px, 30px);
            color: $textBlack;
        }

        &__field {
            @include montserrat(400);
            @include font-sizes(16px, 20px); 
            color: $textMiddleBlack;
            margin: 25px 0;
            padding: 15px;
            padding-left: 10px;
            width: 100%;
            border: 1px solid $ligthBlue;
            border-radius: 4px;
        }

        &__submit {
            @extend .button;
            padding: 13px 39.5px;
        }
        
    }
}
