/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------END RESET CSS--------------------*/
:root {
    --black: #000000;
    --white: #FFFFFF;
    --grey-100: #F4F4F4;
    --grey-500: #7B7B7B;
    --grey-700: #565656;
    --grey-900: #323232;

}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
}

section {
    margin-bottom: 90px;
}

a {
    text-decoration: none;
    color: var(--black);
}

.content--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content--flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.title {
    font-family: 'Red Hat Display';
    font-weight: 500;
}

.header {
    background-color: var(--white);
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__left-cont,
.header__right-cont {
    margin: 42px 0px;
    display: inline-flex;
}

.header__nav .header__nav--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__el a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    color: var(--black);
}

.nav__el+.nav__el {
    padding-left: 42px;
}

.nav__el-hr {
    padding-top: 3px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--black);
    visibility: hidden;
}

.nav__el:hover>.nav__el-hr {
    visibility: visible;
}

.header__actions {
    align-items: center;
}

.header__search-cont {
    padding-left: 40px;
}

.header__menu-open {
    display: none;
    padding-left: 40px;
}

.main {
    flex: auto;
    background: var(--white);
}

.main__section--first {
    height: 600px;
    background-image: url('../images/bg-image.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.main__title-h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: 0.05em;


    padding-top: 100px;
}

.blog .article__img-cont {
    width: 55%;
    height: auto;
}

.blog__img {
    width: 100%;
}

.blog__article--flex-row {
    display: flex;
    flex-direction: row;
}

.blog__article--flex-row-rev {
    display: flex;
    flex-direction: row-reverse;
}

.blog__container article {
    margin-bottom: 50px;
}

.blog__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: 0.05em;

    padding-bottom: 50px;
}

.blog__article-link {

    text-decoration: none;
    color: var(--black);
}

.article__container {
    width: 55%;
    margin-left: 30px;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.article__img-cont {
    display: flex;
}


.article__container .article__prew {
    padding-top: 50px;
}

.blog__article--flex-row-rev .article__container {
    margin-left: 0px;
    margin-right: 30px;

}

.article__chapter,
.article__date {
    color: var(--grey-500);
}

.article__header {
    font-size: 12px;
    padding-top: 25px;
    padding-bottom: 25.69px;

}

.article__name {
    font-size: 23px;
    line-height: 166%;

    padding-bottom: 20px;
}

.blog .article__name {
    padding-bottom: 15px;
    padding-top: 30px;
}

.article__arr {
    padding-left: 10px;
}

.article__arr:hover:before {
    content: 'Read more';
    padding-right: 5px;
    color: var(--black);
    font-size: 16px;
}

.article__arr:hover .article__arr-svg {
    fill: var(--black);
}

.artilce__view-all {
    display: inline-flex;
    align-items: center;
}

.artilce__view-all>svg {
    margin-left: 10px;
}

.artilce__view-all:hover {
    color: var(--black);
}

.artilce__view-all:hover .article__arr-svg {
    fill: var(--black);
}

.sect__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.sect-header__title {
    font-weight: 600;
    font-size: 28px;
}

.sect-header__see-all {

    text-decoration: none;
    color: var(--grey-500);
}

.article__header--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.latest__article .article {
    width: 33.3%;
}

.latest__article+.latest__article {
    padding-left: 30px;
}

.latest__article img {
    width: 100%;
}

.popular__header {
    margin-bottom: 46px;
}

.popular__article-link {
    display: inline-block;
}

.popular__article {
    width: 55%;
    padding-right: 15px;
}

.popular__article .article__header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.popular__article+.popular__article {
    padding-right: 0px;
    padding-left: 15px;
}

.popular__article img {
    max-width: 100%;
}

.popular__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.popular__load-more-btn {
    border: none;
    margin-top: 54px;
    padding: 9.5px 46px;
    line-height: 166%;

    font-weight: 700;
    color: var(--white);
    cursor: pointer;

    background: var(--grey-700);
}

.popular__load-more-btn:hover {
    background-color: var(--grey-900);
}

.info__article-link:hover>.article__arr::before {
    content: 'Read more';
    font-weight: 400;
    font-size: 16px;
    padding-right: 5px;
    color: black;
}

.info__article-link:hover .article__arr-svg {
    fill: #000;
}

.info__article {
    width: 50%;
}

.info__article-link {
    line-height: 166%;
}
.info__article .info__article-link {
    font-weight: 400;
    font-size: 23px;
}

.info__article.info__article-descr {
    width: 38%;
    font-size: 19px;
    line-height: 32px;

    letter-spacing: 0.05em;

    color: var(--grey-700);
}

.info__descr-p:not(:nth-child(1)) {
    padding-top: 40px;
}

.footer {
    background: var(--grey-100);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 70px 0;
}

.contacts__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;

    letter-spacing: 0.05em;

    padding-bottom: 30px;
    color: var(--black);
}

.contacts__phone,
.contacts__email {
    display: inline-block;
}

.contacts__phone {
    margin-bottom: 15px;
}

.footer__socials {
    margin-top: 125px;
}

.socials__wrapper {
    justify-content: center;
}

.socials__el {
    width: 50px;
    height: 50px;
    color: var(--grey-700);
    border: 1px solid var(--grey-700);
    cursor: pointer;
}

.socials__el+.socials__el {
    margin-left: 23px;
}

.socials__el:hover {
    background-color: var(--grey-700);
}

path {
    transition: fill .4s ease;
}

.socials__fill {
    fill: var(--grey-700);
}

.socials__el:hover .socials__fill {
    fill: var(--white);
}

.footer__copyright {
    font-size: 12px;

    padding-bottom: 30px;
}

@media screen and (max-width: 1280px){
    .main__section--first {
        background-size: cover;
    }

}

@media screen and (max-width: 1085px) {
    .article__container {
        padding-top: 0px;
    }

}

@media screen and (max-width: 1024px) {


    .main__section--first {
        height: 430px;
    }

    .main__title-h1 {

        padding-top: 30px;
    }

   

    .tablet-cont--flex-col {
        flex-direction: column;
    }

    .tablet-cont--flex-row {
        display: flex;
        flex-direction: row;
    }

    .tablet-cont--flex-row-rev {
        display: flex;
        flex-direction: row-reverse;
    }

    .latest__article+.latest__article {
        margin-top: 30px;
        padding-left: 0px
    }

    .latest .article__content {
        padding: 0;
        margin-left: 20px;
        width: 50%;
    }

    .tablet-cont--flex-row-rev .article__content {
        margin-left: 0px;
        margin-right: 20px;
    }
    .latest .article__img-cont {
        width: 50%;
    }

    .latest .article__content{
        width: 50%;
    }

    .info__article {
        width: 100%;
    }

    .info__article.info__article-descr {
        margin-top: 50px;
        width: 100%;
    }

    .info__descr-p + .info__descr-p {
        padding-top: 20px;
    }

    .footer__contacts {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 40px;
        text-align: center;
        padding-bottom: 11.34px;
    }

    .contacts__title {
        padding: 0;
    }

    .contacts__phone {
        margin-top: 20px;
    }

    .footer__socials {
        width: 50%;
        margin: 0 auto;
    }

    .footer__copyright {
        padding: 0;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 92%;
        max-width: 700px;
    }

    section {
        margin-bottom: 70px;
    }

    .header__left-cont,
    .header__right-cont {
        margin: 23.5px 0px;
    }

    .header__menu-open {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .nav__el {
        display: none;
    }

    .main__section--first {
        height: 375px;
    }

    .main__title-h1 {
        padding-top: 30px;
        width: 80%;
        font-size: 36px;
        line-height: 50px;
    }


    .blog img {
        width: 100%;
    }

    .blog .article__img-cont {
        width: 55%;
    }

    .tablet-cont--flex-col {
        flex-direction: column;
    }

    .tablet-cont--flex-row {
        display: flex;
        flex-direction: row;
    }

    .tablet-cont--flex-row-rev {
        display: flex;
        flex-direction: row-reverse;
    }

    .article__container {
        width: 55%;
        padding-top: 0px;
        padding-left: 20px;
    }

    .article__container .article__prew {
        padding-top: 40px;
    }

    .article__img-cont {
        display: flex;
    }


    .latest .article__content {
        padding: 0;
        margin-left: 20px;
        width: 50%;
    }

    .tablet-cont--flex-row-rev .article__content {
        margin-left: 0px;
        margin-right: 20px;
    }

    .tablet-cont--flex-row-rev .article_img {
        padding-left: 5px;
    }

    .article__header,
    .article__prew {
        padding: 0;
    }

    .latest .article__name {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .latest img {
        max-width: 100%;
    }

    .latest__article+.latest__article {
        margin-top: 30px;
        padding-left: 0px
    }

    .popular img {
        max-width: 100%;
    }

    .popular__article .article__header {
        padding: 20px 0px;
    }

    .popular__article .article__name {
        padding: 0;
        padding-bottom: 20px;
    }

    .popular__article {
        padding-right: 10px;
    }

    .popular__article+.popular__article {
        padding-right: 0px;
        padding-left: 10px;
    }

    .popular__load-more-btn {
        margin-top: 65px;
    }

    .info__article {
        width: 100%;
        padding-bottom: 50px;
    }

    .info__descr-p+.info__descr-p {
        padding-top: 20px;
    }

    .info__article.info__article-descr {
        padding-bottom: 0px;
    }

    .contacts {
        justify-content: center;
        align-items: center;
    }

    .footer__wrapper.tablet-cont--flex-col {
        justify-content: center;
        align-items: center;
    }

    .footer__contacts {
        margin: 0;
        margin-top: 50px;
    }

    .footer__contacts .contacts__phone {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .footer__socials {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .footer__copyright {
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 786px) {

}

@media screen and (max-width: 760px) {
    .blog__img {
        height: 60%;
    }
}


@media screen and (max-width: 580px) {
    .container {
        width: 95%;
        max-width: 580px;
    }

    .main__section--first {
        height: 400px;
        background-size: cover;
    }

    .main__title-h1 {
        font-size: 30px;
        text-align: left;
        width: 100%;
    }

    .blog img {
        max-width: 100%;
    }

    .blog .article__img-cont,
    .article__container {
        width: 100%;
    }

    .blog__title {
        width: 100%;
        text-align: center;
    }

    .sect__header {
        margin-bottom: 30px;
    }

    .sect-header__see-all {
        margin-top: 10px;
    }

    .article__container {
        padding: 0;
        padding-bottom: 37px;
    }

    .blog__article--flex-row-rev .article__container {
        padding: 0;
        padding-bottom: 37px;
    }

    .article__name {
        padding-bottom: 10px;
    }


    .mobile--flex-col {
        flex-direction: column;
    
    }

    .mobile--flex-col-rev {
        flex-direction: column-reverse;
        align-items: center;
    }

    .latest .article__header {
        font-size: 12px;
        padding-top: 25px;
    }

    .latest .article__img-cont {
        width: 100%;
    }

    .latest__article .article__prew {
        padding: 0;
    }

    .latest__article+.latest__article {
        margin-top: 50px;
    }

    .latest .article__content {
        width: 100%;
    }

    .latest img {
        max-width: 100%;
    }

    .latest .article__content {
        padding: 0;
        margin: 0;
    }

    .popular__article {
        width: 100%;
        padding: 0 !important;
    }

    .popular__article .article__header {
        padding: 0;
        padding-top: 21.5px;
        padding-bottom: 11.5;
    }

    .popular__article+.popular__article {
        margin-top: 50px;
    }

    .popular__load-more-btn {
        margin-top: 50px;
    }

    .info__article {
        margin: 0;
        padding: 0;
    }

    .info__article-link {
        line-height: 166%;
    }

    .info__article.info__article-descr {
        margin-top: 35px;
    }

    .info__descr-p {
        text-align: left;
    }

    .contacts__title {
        font-size: 32px;
        line-height: 42px;
    }

    .contacts__email,
    .contacts__phone {
        font-size: 18px;
    }

    .footer__socials {
        margin: 40px 0;
        width: 100%;
    }

    .footer__copyright {
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .main__section--first {
        height: 500px;
        background-image: url('../images/bg-image-mobile.png');
    }

    .container {
        width: 94.5%;
        max-width: 320px;
    }
}