/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    font-size: 22px;
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.header .container {
    padding-top: 13px;
    line-height: 53px;

}

.header .lang-cont {
    font-family: 'Tourney', Arial, Helvetica, sans-serif;
    font-weight: 600px;
    line-height: 18px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.header .page-name {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    line-height: 28px;
}

.header .page-name span {
    padding: 0 10px;
}

.header .page-name a {
    text-decoration: none;
    color: black;
}

.header .page-name a:hover {
    color: orangered;
}



.header .col {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.header .lang-cont {
    margin-right: 50px;
}

.header .logo-cont {
    float: right;
}


/*----------------------------------------- MAIN BLOCK START----------------------------------*/
/*------------------------------------------ASIDE------------------------------------*/
.main .aside {
    max-width: 385px;
}

.main .col-left {
    position: sticky;
    top: 150px;
}

.main .col-left a {
    text-decoration: none;
    color: #000000;
    font-family: 'Francois One';

    font-weight: 400;
    font-size: 36px;
    line-height: 48px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.col-left ul {
    padding-left: 10px;
    padding-top: 10px;
}

.col-left li a{
    padding: 0px 0px 10px;
}

.col-left li {
    margin-bottom: 70px;
    padding: 0px 0px 10px;
    border-bottom: 1px solid #BDBDBD;
}

.col-left li a:hover {
    color: orangered;
}

/*------------------------------------------ASIDE END------------------------------------*/
.main {
    margin-top: 150px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.main .bg-image {
    position: fixed;
    z-index: -2;
    right: 0px;
}

.main .col-right {
    width: 785px;
    padding-left: 30px;
}


.main .col-right .section {
    margin-bottom: 70px;
}

.main .col-right .title-cont {
    margin-bottom: 40px;
}

.title-cont hr {
    border-top: 8px solid black;
    width: 100px;
}

.title-content {
    margin-top: 20px;
}

.main .col-right .title {
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    display: inline-block;

}

.main .col-right .chapter {
    font-family: 'Farro', sans-serif !important;
    font-weight: 300;
    vertical-align: top;
    font-size: 16px;
    padding-left: 10px;
    display: inline-block;
}


.main .col-right .text-cont {
    font-size: 28px;
    line-height: 50px;
    font-family: 'PT Sans';
}

.main .col-right .text-cont b {
    font-weight: 700;
}

.main .col-right .text-cont i {
    font-style: italic;
}

.main .col-right .text-cont p+p {
    padding-top: 40px;
}

.main .col-right .text-cont .gray {
    background-color: #DADADA;
}

.anch {
    margin-top: -80px;
    padding-top: 80px;
    position: absolute;
    width: 0px;
    height: 0px;
}

/*--------------------PARTNERS START---------------------------*/
.title-cont.h1-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
}

.title-cont.h1-title h1 {
    padding-left: 20px;
}

.title-cont.h1-title hr, .title-cont.h1-title h1{
    display: inline-block;
    vertical-align: middle;
}

.container__border {
    padding: 20px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #BFBFBF;
}

.flex-row-container__not-first {
    margin-top: 27px;
}

.flex-row-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-content: space-between;
}

/*----------------------FLIP START-------------------------*/
.flip-card-container {
    width: 270px;
    height: 180px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: .8s;
}

.flip-card-container:hover .flip-card {
    transform: rotateX(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    backface-visibility: hidden;
}

.card-front {
    transform: rotateX(0deg);
    z-index: 2;
}

.card-back {
    transform: rotateX(180deg);
    z-index: 1;
}

/*----------------------FLIP END-------------------------*/